body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}

p {
  margin: auto;
}

a {
  text-decoration: none;
  color: #000000;
}

.contacts {
  background-color: #484848;
  padding-top: 8px;
  padding-bottom: 7px;
}

.contacts-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-item {
  display: flex;
  margin-right: 32px;
  margin-left: 31px;
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'PlumbCondensed';
}

/* .contacts-item:last-child {
} */

.contacts-item__property {
  color: #f5135c;
  margin-right: 5px;
}

.contacts-item__value {
  color: #ffffff
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 17px;
  padding-bottom: 22px;
  background: #5b749a;
  background: linear-gradient(to bottom, #708fb1 0%, #5e789e 36%, #3c4c71 100%);
  backface-visibility: hidden;
}

.header__logo {
  width: 242px;
  height: 55px;
  margin-right: 25px;
}

.main {
  position: relative;
  background-image: url('../img/main_uncle_and_card.jpg');
  background-size: cover;
  width: 100%;
  height: 642px;
  margin-top: 0px;
  margin-bottom: 62px;
  background-position: 50% 0px;
  background-repeat: no-repeat;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  background-color: rgb(255 255 255 / 76%);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 6px 12px 2px rgb(0 0 0 / 35%);
}

.main-menu__link {
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 0;
  font-family: 'PlumbCondensed';
  padding: 0px 34px 0 34px;
  background-image: url('../img/border_line.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-menu__link>span {
  padding: 0 35px 0 35px;
  padding-bottom: 2px;
}

.main-menu__link_active>span {
  border-bottom: 2px solid #f5135c;
}

.main-menu__link:hover {
  opacity: .46;
  cursor: pointer;
}

.main-menu__link:last-child {
  margin-right: 0px;
  padding-right: 26px;
  background-image: url('../img/border_line.png'), url('../img/border_line.png');
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, 100% 0px;
}

.main__title {
  position: relative;
  top: 550px;
  left: 500px;
  width: 769px;
  text-transform: uppercase;
  color: #fff;
  height: 78px;
  font-size: 29px;
}

.information {
  width: 1160px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 90px;
}

.information__question {
  margin-bottom: 33px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  text-transform: uppercase;
  color: #fff;
  background-color: #f5135c;
}

.information__wrapper {
  width: 1109px;
  margin: auto;
}

.information__discriprions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  text-align: center;
}

.information__discriprions_value {
  display: table;
}

.information__box {
  display: flex;
  margin-bottom: 50px;
}

.information__image {
  padding-right: 50px;
}

.information__checkmark {
  display: flex;
  flex-direction: column;
}

.information__subtitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 34px;
}

.information__text::before {
  content: url("../img/checkmark.png");
  margin-right: 9px;
  width: 29px;
  height: 29px;
}

.information__text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-weight: normal;
  width: 529px;
  margin-bottom: 19px;
}

.information__text:last-child {
  margin-bottom: 0;
}

.information__subtitle-value {
  font-weight: bold;
}

.information__importants {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
  color: #f5135c;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('../img/content_background.png');
  background-size: cover;
  height: 648px;
  padding-top: 40px;
  margin-bottom: 63px;
}

.content__title {
  text-transform: uppercase;
  width: 1109px;
  height: 46px;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 60px;
}

.content__discription {
  text-transform: uppercase;
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 40px;
}

.content__image {
  width: 960px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 37px;
}

.content-box {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 960px;
}

.content-box__wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-box__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 30px;
}

.content-box__text {
  text-align: center;
  width: 390px;
  font-size: 17px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/form_img.png');
  background-size: cover;
  height: 300px;
  margin-bottom: 93px;
  color: #fff;
}

.form__userpic {
  margin-right: 148px;
}

.form__title {
  width: 480px;
  text-transform: uppercase;
  font-size: 30px;
  margin-right: 101px;
}

.form-item {
  height: 354px;
  min-width: 286px;
  margin-right: 98px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../img/form_border.png');
  background-repeat: round;
}

.form-item__title {
  width: 141px;
  text-align: center;
  font-size: 18px;
  font-style: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-item__value {
  border: none;
  outline: none;
  width: 241px;
  height: 26px;
  border-radius: 2px;
  font-size: 13px;
  font-style: italic;
  line-height: 25px;
  padding-left: 9px;
  box-sizing: border-box;
  background-color: #FFFF;
  color: #000000;
  margin-bottom: 11px;
}

.form-item__input {
  height: 101px;
  padding-bottom: 66px;
}

.form-item__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 174px;
  height: 31px;
  font-size: 14px;
  line-height: 17px;
  background-color: #1a3764;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
}

.form-item__button:hover {
  opacity: .46;
  cursor: pointer;
}

.protection {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 1093px;
  margin-bottom: 84px;
}

.protection__img {
  margin-bottom: 84px;
}

.protection__text {
  width: 1093px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration {
  display: block;
  background-image: url('../img/registration_background_img.png');
  height: 404px;
}

.registration-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-bottom: 60px;
}

.registration-menu__link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 65px;
  margin-bottom: 15px;
  padding-top: 23px;
  color: #fff;
}

.registration-menu__link:hover {
  opacity: .46;
  cursor: pointer;
}

.registration-form__wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 42px;
}

.registration__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration__title {
  width: 350px;
  color: #fff;
  margin-bottom: 17px;
}

.registration-item {
  display: flex;
}

.registration-item__property {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 14px;
}

.registration-item__value {
  border: none;
  outline: none;
  width: 241px;
  height: 26px;
  border-radius: 2px;
  font-size: 13px;
  font-style: normal;
  line-height: 25px;
  padding-left: 9px;
  box-sizing: border-box;
  background-color: #FFFF;
  color: #000000;
  margin-bottom: 11px;
}

.registration-item__value:last-child {
  margin-bottom: 28px;
}

.registration-item__button {
  border-radius: 4px;
  background-color: #ec2b6a;
  color: #fff;
  width: 155px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 17px;
  border: none;
  outline: none;
}

.registration-item__button:hover {
  opacity: .46;
  cursor: pointer;
}

.registration-item__input_text {
  height: 101px;
  padding-bottom: 66px;
  margin-right: 388px;
}

.registration__img {
  width: 245px;
  height: 144px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
}

.footer-item {
  display: flex;
  margin-right: 35px;
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
}

.footer-item__property {
  margin-right: 5px;
}

.footer-item:last-child {
  margin-right: 0;
}