body, p {
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}

a {
  text-decoration: none;
  color: #000000;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  padding-top: 9;
  padding-bottom: 8;
  background-color: #484848;
  backface-visibility: hidden;
}

.contacts-item {
  display: flex;
  margin-right: 35px;
  font-size: 17px;
  text-transform: uppercase;
  color: #f5135c
}

.contacts-item:last-child {
  margin-right: 0;
}

.contacts-item__value {
  color: #ffffff
}

.header {
  display: flex;
  justify-content: center;
  height: 94px;
  padding-top: 17px;
  background: #5b749a;
  background: linear-gradient(to bottom, #708fb1 0%, #5e789e 36%, #3c4c71 100%);
  backface-visibility: hidden;
}

.header__logo {
  width: 242px;
  height: 55px;
}

.menu__link::before {
  width: 2px;
  height: 29px;
  background-image: url('../img/border_line.png');
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  background-color: #ffffff;
  opacity: .78;
}

.menu__link {
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 65px;
}

.menu__link:last-child {
  margin-right: 0;
}

.banner {
  background-image: url('../img/main_uncle_and_card.png');
  background-size: cover;
  width: 100%;
  height: 642px;
  margin-top: -105px;
  margin-bottom: 62px;
}

.banner__title {
  position: relative;
  top: 550px;
  left: 500px;
  width: 769px;
  text-transform: uppercase;
  color: #fff;
  height: 78px;
  font-size: 29px;
}

.information {
  width: 1160px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 90px;
}

.information__question {
  margin-bottom: 33px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  text-transform: uppercase;
  color: #fff;
  background-color: #f5135c;
}

.information__wrapper {
  width: 1109px;
  margin: auto;
}

.information__discriprions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
  text-align: center;
}

.information__discriprions_value {
  display: table;
}

.information__box {
  display: flex;
  margin-bottom: 50px;
}

.information__image {
  padding-right: 50px;
}

.information__checkmark {
  display: flex;
  flex-direction: column;
}

.information__subtitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 34px;
}

.information__text::before {
  content: url("../img/checkmark.png");
  margin-right: 9px;
  width: 29px;
  height: 29px;
}

.information__text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-weight: normal;
  width: 529px;
  margin-bottom: 19px;
}

.information__text:last-child {
  margin-bottom: 0;
}

.information__subtitle-value {
  font-weight: bold;
}

.information__importants {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-transform: uppercase;
  color: #f5135c;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('../img/content_background.png');
  background-size: cover;
  height: 648px;
  padding-top: 40px;
  margin-bottom: 63px;
}

.content__title {
  text-transform: uppercase;
  width: 1109px;
  height: 46px;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 60px;
}

.content__discription {
  text-transform: uppercase;
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 40px;
}

.content__image {
  width: 960px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 37px;
}

.content-box__wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 960px;
}

.content-box {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-box__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 30px;
}

.content-box__text {
  text-align: center;
  width: 390px;
  font-size: 17px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/form_img.png');
  background-size: cover;
  height: 300px;
  margin-bottom: 93px;
  color: #fff;
}

.form__userpic {
  margin-right: 148px;
}

.form__title {
  width: 276px;
  text-transform: uppercase;
  font-size: 30px;
}

.form__wrap {
  display: flex;
  width: 300px;
  height: 350px;
  opacity: .55;
  flex-direction: column;
  align-items: center;
  border: 1px;
  border-color: black;
}

.form__input {
  width: 273px;
  height: 334px;
  border: 1px;
  border-color: black;
  background-color: #fff;
  opacity: .46;
}

.protection {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 1093px;
  margin-bottom: 84px;
}

.protection__img {
  margin-bottom: 84px;
}

.protection__text {
  width: 1093px;
  display: flex;
  align-items: center;
  justify-content: center;
}